<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table class="blueTable">
  <thead>
    <tr>
      <th>Department</th>
      <th>Type</th>
      <th>First     </th>
      <th>Middle    </th>
      <th>Last      </th>
      <th>Phone #   </th>
      <th>Home Address</th>
      <th>Email       </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.department.name %></td>
        <td><%= employee.type.name %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.middle_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.phone_number %></td>
        <td><%= employee.home_address %></td>
        <td><%= employee.work_email %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render_report 'my_employees' %>
<br>

<%= link_to 'New Employee', new_employee_path %>


