<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @employee.department.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @employee.type.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @employee.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee.phone_number %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @employee.home_address %>
</p>

<p>
  <strong>Work email:</strong>
  <%= @employee.work_email %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
